<div class="container mt-3">
  <h1>Mes demandes d'emprunt</h1>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class="card-request">
        <%= image_tag(booking.item.picture) %>
        <div class="card-request-infos">
          <% if booking.status == "confirmed" %>
            <h2><i class="fa-solid fa-circle-check"></i> <%= booking.item.name %></h2>
            <p>du <%= booking.start_date %> au <%= booking.end_date %></p>
            <p>objet appartenant à <%= booking.item.user.name %></p>
            <%= link_to "Voir la réservation", booking_path(booking), class:"btn btn-blue" %>
          <% else %>
            <h2><i class="fa-solid fa-hourglass-start"></i> <%= booking.item.name %></h2>
            <p>du <%= booking.start_date %> au <%= booking.end_date %></p>
            <p>objet appartenant à <%= booking.item.user.name %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
