<div class="container">
  <h1>Mes prêts à valider</h1>
  <div class="cards">
    <% @requests.each do |request| %>
      <% if request.status == "pending" %>
        <div class="card-request">
          <%= image_tag(request.item.picture) %>
          <div class="card-request-infos">
            <h2><%= request.item.name %></h2>
            <p>du <%= request.start_date %> au <%= request.end_date %></p>
            <p>demande faite par <%= request.user.name %></p>
          </div>
          <%= link_to "Je valide", booking_path(request),
                    data: { turbo_method: :patch, turbo_confirm: "Vous validez la réservation !" },
                    class: "btn btn-blue"
                %>
          <%= link_to "Je refuse", booking_path(request),
                    data: { turbo_method: :delete, turbo_confirm: "Confirmez votre refus" },
                    class: "btn btn-orange"
                %>
        </div>
      <% end %>
    <% end %>
  </div>
    <br>
    <h1>Mes prêts validés</h1>
    <div class="cards">
    <% @requests.each do |request| %>
      <% if request.status == "confirmed" %>
        <div class="card-request">
          <%= image_tag(request.item.picture) %>
          <div class="card-request-infos">
            <h2><%= request.item.name %></h2>
            <p>du <%= request.start_date %> au <%= request.end_date %></p>
            <p>demande faite par <%= request.user.name %></p>
            <%= link_to "Voir la réservation", booking_path(request), class:"btn btn-blue" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


</div>
