<h1>Mes demandes d'emprunt</h1>




<div class="cards">
  <% @requests.each do |request| %>
    <div class="card-request">
      <%= image_tag(request.item.picture) %>
      <div class="card-request-infos">
        <h2><%= request.item.name %></h2>
        <p>du <%= request.start_date %> au <%= request.end_date %></p>
        <p>demande faite par <%= request.user.email %></p>
        <p>objet appartenant à <%= request.item.user.email %></p>
      </div>
    <%= link_to "Je valide", requests_path, class: "btn btn-green" %>
    <%= link_to "Je refuse", requests_path, class: "btn btn-red" %>
  </div>
    <% end %>
</div>
