<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
    <h1 class="mb-4"><%=@booking.item.name %></h1>
      <div class="mb-3">
        <h4>Votre réservation</h4>
        <div class="d-flex align-items-center">
          <p class="me-2"><strong> <%= @booking.start_date.strftime("%a. %d %b") %></strong> <i class="fa-solid fa-arrow-right"></i> <strong> <%= @booking.end_date.strftime("%a. %d %b") %></strong> </p>
        </div>
      </div>

      <div class="mb-3">
        <img src="<%= @booking.item.picture%> "class="img-fluid rounded" style="max-width:600px;">
      </div>
    </div>

    <div class="col-md-4 bg-white rounded">
      <div class="" >
      <h3>Prêteur</h3>
      <%= image_tag @booking.item.user.avatar, class: "avatar" %>  <%= @booking.item.user.name %>
        <p class="text-secondary"><strong>Informations vérifiées</strong> <i class="fa-solid fa-check"></i></p>
        <p><strong>Membre depuis</strong> <%=@booking.item.user.created_at.strftime("%b. %Y")%></p>
        <p><strong>Email</strong> <%=@booking.item.user.email%></p>
        <p><strong>Téléphone</strong> <%=@booking.item.user.phone%></p>
        <p><strong>Adresse </strong> <%=@booking.item.user.address%></p>
      </div>

      <div class="" >
      <h3>Emprunteur</h3>
      <%= image_tag @booking.user.avatar, class: "avatar" %> <%= @booking.user.name %></p>
        <p><strong>Membre depuis</strong> <%=@booking.item.user.created_at.strftime("%b. %Y")%></p>
        <p><strong>Email </strong> <%=@booking.item.user.email%></p>
        <p><strong>Téléphone</strong> <%=@booking.item.user.phone%></p>
      </div>
    </div>

    <div class="mb-3">
    <p><strong>Catégorie du produit :</strong> <%=@booking.item.category %></p>
    <p><strong>Description du produit :</strong> <%=@booking.item.description %> </p>
   </div>


   <%= link_to "Retour", bookings_path %>




  </div>
</div>
