<div class="row mt-4">

<%# Search by city %>
  <div class="search-form-control form-group mb-3">
    <%= form_tag items_path, method: :get do %>
      <%= text_field_tag :location,
      params[:location],
      placeholder: "Je recherche un objet à proximité de...",
      class: "form-control" %>
      <%= submit_tag "Rechercher", class: "btn btn-blue mx-3" %>
    <% end %>
  </div>

<%# Search by category & text %>
  <%= form_with url: items_path, html: { data:
                                  {filter_target: "form",
                                  action: "keyup->filter#showResults"}},
                                  method: :get do |f| %>

<%# Search by categ %>
    <div class="mt-2 mb-2">
      <% Item::CATEGORIES.each do |category| %>
        <%= f.label :filter, category%>
        <%= f.radio_button :filter, category, data: {
                                filter_target: "category",
                                action: "change->filter#filterResults"
        } %>
        <% end %>
    </div>

    <div class="search-form-control form-group mb-3">
      <%= text_field_tag :query,
      params[:query], data: {
      filter_target: "query"},
      class: "form-control",
      placeholder: "Je souhaite emprunter..."
      %>
        <%# <button name="button" type="submit" class="btn btn-blue">
        <i class="fas fa-search"></i>Rechercher
        </button> %>
    </div>
  <% end %>
</div>
