<!DOCTYPE html>
<html>
  <head>
    <title>Le Grenier de Léon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
  <!--  Include Bootstrap Datepicker CSS
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css' %>
  Include Bootstrap Datepicker JS
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js' %>
  -->
  </head>

  <body>
    <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
  </body>
</html>
